body {
    font-family: 'Fira Sans', Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 18px;
    background: #2E3440;
    color: #ECEFF4;
    font-weight: 200;
    margin: 0;
    border-top: 3px solid #8FBCBB;
}

@media (max-width: 799px) {
    body {
        padding: 15px;
        font-size: .95em;
    }
}

body h1,
body h2,
body h3,
body h4 {
    margin: 0;
    padding: 0;
    color: #D8DEE9;
    font-weight: 400;
}

body h1 b,
body h2 b,
body h3 b,
body h4 b {
    display: block;
    line-height: 1;
    font-size: 150%;
}

body h1 img,
body h2 img,
body h3 img,
body h4 img {
    vertical-align: middle;
    border: 0 none;
}

body h1 {
    font-size: 42px;
    margin-top: 40px;
}

.gray {
    color: #D8DEE9;
}

.black {
    color: #5E81AC;
}

body h2 {
    margin-top: 60px;
    position: relative;
    font-size: 32px;
}

body h3 {
    font-size: 22px;
    margin-top: 40px;
}

body p {
    text-align: justify;
}

body a {
    text-decoration: none;
    color: #5E81AC;
    transition: 0.1s;
}

body a:hover {
    color: #A3BE8C;
    transform: rotate(0.1turn);
}

body pre {
    background: white;
}

body pre.src {
    overflow-y: auto !important;
    font-size: 16px;
}

body code {
    background: #eee;
    border: 1px solid #ccc;
    padding: 0px 4px;
    color: #666;
    overflow-x: auto;
    font-size: .9em;
}

body li {
    margin-bottom: 1em;
}

body img {
    border: 1px solid #ccc;
    height: auto;
}

@media (max-width: 800px) {
    body img {
        max-width: 100%;
    }
}

body img.no-border {
    border: none;
}

body img.rounded-border {
    border-radius: 20px;
}

body img.black-border {
    border: 2px solid #4C566A;
}

body img.spaced-border {
    border: 1px solid #D8DEE9;
    padding: 15px;
}

body .tag {
    background: transparent;
    font-size: 0.6em;
}

body .tag span {
    background: #88C0D0;
    color: #E5E9F0;
    padding: 2px 5px;
    border-radius: 4px;
}

body .pubdate {
    color: #D8DEE9;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: -16px;
    text-align: right;
    border-bottom: 1px solid #e2e2e2;
}

body .pubdate p {
    display: inline;
    margin-right: 10px;
}

@media (max-width: 800px) {
    body .pubdate {
        margin-top: 0;
        text-align: left;
    }
}

body .nav-blog {
    text-align: right;
}

body .org-info-js_info-navigation {
    background: #bbb;
}

@media (min-width: 800px) {
    body #content,
    body #postamble {
        margin: 0 auto;
        max-width: 700px !important;
        width: 700px !important;
    }
}

body #content {
    margin-top: 10px;

}

body #postamble {
    font-size: 0.8em;
    line-height: 1.8em;
    margin-top: 50px;
    text-align: center;
    color: #aaa;
    padding: 15px 0;
    border-top: 1px solid #e2e2e2;
}

body #postamble a {
    color: #81A1C1;
}

@media (min-width: 800px) {
    body #preamble {
        width: 700px;
        margin: 0px auto;
        position: relative;
    }
}

body .intro {
    padding-top: 20px;
    color: #BBB;
    text-align: center;
}

body .intro h1 {
    font-size: 42px;
    line-height: 1em;
    margin: .3em;
    padding: 0;
}

body .subtitle {
}

body .intro p {
    color: #E5E9F0;
    font-size: 14px !important;
    text-align: center;
}

body .intro img {
    border-radius: 100%;
    width: 175px;
}

body .nav {
    text-align: center;
    margin-top: 30px;
    border-bottom: 1px solid #E5E9F0;
    font-size: 12px;
    text-transform: uppercase;
}

body .nav ul {
    list-style: none;
    padding: 0;
}

body .nav ul li {
    color: #999;
    display: inline-block;
    margin: 0;
}

body .nav ul li a {
    display: inline-block;
    padding-right: 6px;
    border-radius: 0;
    font-weight: normal;
    color: #D8DEE9;
}

body .nav ul li a:hover {
    color: #A3BE8C;
}

body #disqus_thread {
    margin-top: 40px;
}

body .clearfix {
    clear: both;
}

@media (min-width: 800px) {
    body .contact {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        -moz-column-gap: 3em;
        -webkit-column-gap: 3em;
        column-count: 2;
        column-gap: 3em;
    }
}
